<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>433514984069-9m67u0c2aohjt55kq05t6ombcqbeb178.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433514984069-9m67u0c2aohjt55kq05t6ombcqbeb178</string>
	<key>API_KEY</key>
	<string>AIzaSyCccTKqqiRnTXcLtlpUTVRANK7sF8b2EPg</string>
	<key>GCM_SENDER_ID</key>
	<string>433514984069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cotters.FitnessApp</string>
	<key>PROJECT_ID</key>
	<string>fitar-10e1d</string>
	<key>STORAGE_BUCKET</key>
	<string>fitar-10e1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433514984069:ios:10f9a386730619ee</string>
	<key>DATABASE_URL</key>
	<string>https://fitar-10e1d.firebaseio.com</string>
</dict>
</plist>